#menu_title h2{
    color: #FFF;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 2.3em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.coffee-shop{
    font-size: 0.3em;
    font-weight: lighter;
    font-family: 'Courgette', cursive;
    color: #fcffae;
    position: absolute;
    top: 30%;
}

.menu_dots{
    color: #FFF;
    font-size: 0.3em;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

#menu_photos ul{
    display: flex;
    justify-content: space-around;
    padding: 0 0 5%;
}

#menu_photos ul li{
    display: flex;
    justify-content: center;
    width: 43%;
    height: auto;
}

#menu_photos img{
    height: 100%;
    width: 100%;
}

#menu_items h2{
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 1px;

}
#menu_items h3{
    color: #FFF;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;

}

#menu_items ul{
    text-align: center;
    columns: 2;
    column-gap: 1%;
}


