.team{
    margin-top: 100px;
    position: relative;
}

/* .team h4{
    font-size: 1em;
    text-transform: uppercase;
    color: #fcffae;

    top:8;
    left:0;
    right: 0;

    transform: translate(0,-150%);
  } */

.team h3{
    font-size: 1em;
    font-family: 'Courgette', cursive;
    text-align: center;
    text-transform: lowercase;
    color: #fcffae;

    position: absolute;
    top:0;
    left:0;
    right: 0;

    transform: translate(0,-150%);
  }

.team h2{
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    margin-top: 2%;
  }

.team ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 20px;
}

.team ul li{
    width: 25%;

    /* display: flex;
    align-items: center;
    flex-direction: column; */

}

.team ul li img{
    width: 80%;
    margin-top: 75px;

    display: inline-block;

}
